<div class="row">
    <div class="col-md-4">
        <div class="card">
            @if(product.imageUrl){
                <img [src]="product.imageUrl" class="card-img-top" alt="Product Image">
            }
            @else {
                <img [src]="'assets/images/product-default.png'" class="card-img-top" alt="Product Image">
            }
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text"><small class="text-muted">{{product.price}}</small></p>
            </div>
        </div>
    </div>
</div>